
<template>
  <v-card>
    <v-card-title>
      Portfolio
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="stocks"
      :search="search"
      :loading="loading"
      loading-text="Loading data..."
    ></v-data-table>
  </v-card>
</template>

<script>
import Axios from "axios";

import { portfolioUrl } from "@/config/api";

export default {
  data() {
    return {
      stocks: [],
      loading: false,
      search: "",
      headers: [
        { text: "Symbol", value: "symbol" },
        { text: "Company", value: "company" },
        { text: "Count", value: "count" },
        { text: "Value (USD)", value: "price" },
        { text: "Current price (USD)", value: "currentPrice" },
        { text: "Difference (USD)", value: "difference" }
      ],
      error: null
    };
  },

  methods: {
    pullStocks() {
      Axios.get(portfolioUrl)
        .then(response => {
          console.log("oui");
          this.stocks = response.data;
          this.$root.$emit("portfolio-load", this.stocks);
          this.loading = false;
        })
        .catch(error => {
          this.error = error;
          this.loading = false;
        });
    }
  },

  mounted() {
    this.$root.$on("stock-buy", this.pullStocks);
    this.$nextTick(() => this.pullStocks());
  }
};
</script>