<template>
  <v-card>
    <v-card-title>Balance</v-card-title>
    <div class="text-center">
      <v-list>
        <v-list-item>
          <v-list-item-content>Portfolio value (USD):</v-list-item-content>
          <v-list-item-content class="align-end">{{ portfolioValue }}</v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>Market value (USD):</v-list-item-content>
          <v-list-item-content class="align-end">{{ marketValue }}</v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>Difference (USD):</v-list-item-content>
          <v-list-item-content
            class="align-end"
            :class="difference < 0 ? 'red--text' : 'green--text'"
          >{{ difference >= 0 ? "+" : "" }}{{ difference }} ({{ difference >= 0 ? "+" : "" }}{{ diffPercentage.toFixed(2) }}%)</v-list-item-content>
        </v-list-item>
      </v-list>
    </div>
  </v-card>
</template>

<script>
export default {
  mounted() {
    this.$root.$on("portfolio-load", data => {
      this.portfolioValue = data.reduce((acc, s) => acc + s.price * s.count, 0);
      this.marketValue = data.reduce(
        (acc, s) => acc + s.currentPrice * s.count,
        0
      );
      this.difference = this.portfolioValue - this.marketValue;
      this.diffPercentage = this.difference / this.portfolioValue;
    });
  },

  data() {
    return {
      portfolioValue: 0,
      marketValue: 0,
      difference: 0,
      diffPercentage: 0
    };
  }
};
</script>