<template>
  <v-row>
    <v-col cols="12" md="6">
      <PortfolioStocks />
    </v-col>

    <v-col cols="12" md="6">
      <PortfolioBalance />
    </v-col>
  </v-row>
</template>

<script>
import PortfolioStocks from "./PortfolioStocks";
import PortfolioBalance from "./PortfolioBalance";

export default {
  components: {
    PortfolioStocks,
    PortfolioBalance
  }
};
</script>