<template>
  <v-container>
    <h1 class="mb-4">MyStocks</h1>
    <v-divider></v-divider>
    <p class="mt-4">Developed by Pierre Duclou - M2 MIAGE SID 2019/2020</p>
    <p>IDMC - Université de Lorraine</p>
    <p>
      GitLab repository:
      <a href="https://gitlab.com/pierreduclou/mystocks">pierreduclou/mystocks</a>
    </p>
  </v-container>
</template>
