<template>
  <div class="home">
    <StockMarket />
    <Portfolio />
  </div>
</template>

<script>
import StockMarket from "@/components/market/StockMarket";
import Portfolio from "@/components/portfolio/Portfolio";

export default {
  name: "home",
  components: {
    StockMarket,
    Portfolio
  }
};
</script>
