<template>
  <v-row>
    <v-col cols="12" md="6">
      <StockList @selectStock="onSelectStock" />
    </v-col>

    <v-col cols="12" md="6">
      <StockDetails :stock="selectedStock" />
    </v-col>
  </v-row>
</template>

<script>
import StockList from "./StockList";
import StockDetails from "./StockDetails";

export default {
  components: {
    StockList,
    StockDetails
  },

  data() {
    return {
      selectedStock: null
    };
  },

  methods: {
    onSelectStock(stock) {
      this.selectedStock = stock;
    }
  }
};
</script>