<template>
  <v-card>
    <v-card-title>Stock details</v-card-title>

    <p v-if="error != null" class="red--text text-center">An error occured.</p>

    <p class="grey--text text-center" v-if="stock === null">No stock selected.</p>

    <div class="text-center" v-if="loading">
      <v-progress-circular color="teal" indeterminate></v-progress-circular>
    </div>

    <!-- Historical chart -->
    <StockHistorical :data="historical" :height="146" />

    <!-- Stock profile -->
    <div class="container" v-if="profile !== null">
      <v-card flat>
        <v-card-title class="subheading font-weight-bold">
          {{ profile.companyName }}
          <v-spacer></v-spacer>

          <StockBuyForm :title="profile.companyName" :symbol="stock.symbol" />
        </v-card-title>

        <v-divider></v-divider>

        <v-list dense>
          <v-list-item>
            <v-list-item-content>Current price (USD):</v-list-item-content>
            <v-list-item-content class="align-end">{{ profile.price }}</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>Changes (USD):</v-list-item-content>
            <v-list-item-content
              class="align-end"
              :class="profile.changes < 0 ? 'red--text' : 'green--text'"
            >{{ profile.changes }} {{ profile.changesPercentage }}</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>Industry:</v-list-item-content>
            <v-list-item-content class="align-end">{{ profile.industry || "-" }}</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>Sector:</v-list-item-content>
            <v-list-item-content class="align-end">{{ profile.sector || "-" }}</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>Company website:</v-list-item-content>
            <v-list-item-content class="align-end">
              <a :href="profile.website">{{ profile.website }}</a>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </div>
  </v-card>
</template>

<script>
import Axios from "axios";
import StockBuyForm from "./StockBuyForm";
import StockHistorical from "./StockHistorical.vue";
import { historicalUrl, profileUrl } from "@/config/api";

export default {
  components: {
    StockHistorical,
    StockBuyForm
  },

  props: {
    stock: {
      type: Object,
      default: null
    }
  },

  mounted() {
    this.$root.$on("chart-render", () => (this.loading = false));
  },

  data() {
    return {
      previous: null,
      historical: {
        labels: null,
        datasets: null
      },
      profile: null,
      loading: false,
      debug: null,
      error: null
    };
  },

  methods: {
    pullHistorical(symbol) {
      Axios.get(`${historicalUrl}${symbol}`)
        .then(response => {
          this.historical.labels = response.data.map(entry => entry.date);
          this.historical.datasets = [
            {
              label: `${symbol} price (USD)`,
              data: response.data.map(entry => entry.close),
              backgroundColor: ["#00E676"]
            }
          ];
        })
        .catch(error => {
          this.error = error;
          this.loading = false;
        });
    },

    pullProfile(symbol) {
      Axios.get(`${profileUrl}${symbol}`)
        .then(response => (this.profile = response.data))
        .catch(error => {
          this.error = error;
          this.loading = false;
        });
    }
  },

  watch: {
    stock(newValue) {
      this.loading = true;

      this.$nextTick(() => {
        this.pullHistorical(newValue.symbol);
        this.pullProfile(newValue.symbol);
      });
    }
  }
};
</script>