<template>
  <v-card>
    <v-card-title>
      Stock market
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="stocks"
      :search="search"
      :loading="loading"
      loading-text="Loading data..."
      single-select
      @click:row="onRowClick"
    ></v-data-table>
  </v-card>
</template>

<script>
import Axios from "axios";
import { stocksUrl } from "@/config/api";

export default {
  mounted() {
    Axios.get(stocksUrl)
      .then(response => {
        this.stocks = response.data;
        this.loading = false;
      })
      .catch(error => {
        this.error = "Error while pulling stock list:\n" + error.message;
        this.loading = false;
      });
  },

  data() {
    return {
      search: "",
      loading: true,
      headers: [
        { text: "Symbol", value: "symbol" },
        { text: "Name", value: "name" },
        { text: "Price (USD)", value: "price" },
        { text: "Exchange", value: "exchange" }
      ],
      stocks: [],
      error: null,
      debug: null
    };
  },

  methods: {
    onRowClick(selectedStock) {
      this.$emit("selectStock", selectedStock);
    }
  }
};
</script>

<style>
tbody > tr {
  cursor: pointer;
}
</style>