<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on }">
      <v-btn color="primary" dark v-on="on">Buy</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ title }}</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                type="number"
                label="How much?"
                :rules="rules"
                v-model="count"
                autofocus
                required
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red darken-1" outlined @click="dialog = false">Cancel</v-btn>
        <v-btn color="green" dark depressed @click="onSubmit">Buy</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Axios from "axios";
import { buyUrl } from "@/config/api";

export default {
  props: {
    title: {
      type: String,
      default: "No stock selected..."
    },

    symbol: {
      type: String,
      default: null
    }
  },

  data() {
    return {
      count: 0,
      valid: true,
      rules: [
        value => (isNaN(parseInt(value)) ? "Value needs to be a number" : true),
        value => (parseInt(value) <= 0 ? "Value must be higher than one" : true)
      ],
      dialog: false,
      error: null
    };
  },

  methods: {
    onSubmit() {
      for (let rule of this.rules) {
        if (rule(this.count) !== true) {
          return;
        }
      }

      Axios.post(`${buyUrl}${this.symbol}`, { count: this.count })
        .then(() => this.$root.$emit("stock-buy"))
        .catch(error => (this.error = error));

      this.dialog = false;
    }
  }
};
</script>